/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #818181 0%, #000000 100%);
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.aboutSection {
  background-color: #242424;
  text-align: center;
  color: white;
}

.aboutSection h2 {
  color: white;
}

.aboutSection p {
  color: #e0e0e0;
}

.whyProjectSection {
  background: linear-gradient(135deg, #5e5e5e 0%, #000000 100%);
  text-align: center;
}

.finalCTASection {
  background:linear-gradient(135deg, #474747 0%, #000000 100%);
  color: white;
  text-align: center;
}

.finalCTASection .button {
  background-color: #ff6b35;
  border-color: #ff6b35;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.finalCTASection .button:hover {
  background-color: #e55a2b;
  border-color: #e55a2b;
}

.features {
  padding: 4rem 0;
  background-color: #f9f9f9;
}

.features h3 {
  color: #004e98;
}
